<!DOCTYPE html>
<html>
  <head>
    <title>TripAdvisorClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      // window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.avatarURL = "<%= image_url('avatar.jpg') %>";
      window.loginURL = "<%= image_url('login.svg') %>";
      window.logoURL = "<%= image_url('logo.svg') %>";
      window.attractionMainURL = "<%= image_url('attraction_main.png') %>";
      window.attractionSmallURL = "<%= image_url('attraction_small.png') %>";
      window.stockURL = "<%= image_url('stock.jpg') %>";
      
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
